@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
    background-image: url("images/space.jpg");
    background-size: cover;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    height: 100%;
}

.container {
    background: #d3e9d5;
    max-width: 80%;
    margin: 10vh auto;
    border: 2px solid #023047;
    border-radius: 8px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #38a3a5;
}

#save-btn {
    background: #22577a;
}

